body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    background-image: url("/images/home-back.jpg"); /* Specify the path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 30vh; /* Adjust as needed */
    }

.content {
    text-align: center;
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Background color for the card */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
    max-width: 300px; /* Set max-width as needed */
    border: 2px solid lightblue; /* Light blue border */
}

.user-card:hover {
    transform: translateY(-5px); /* Move the card up slightly on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Increase shadow effect on hover */
}

.user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-card p {
    padding: 0 20px;
    text-align: center;
    color: #333; /* Color for text */
}

.author {
    margin-top: 10px;
    font-style: italic;
    color: #666; /* Color for author name */
}



.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
