body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Light gray background */
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333; /* Dark gray background for table headers */
    color: #fff; /* White text color for table headers */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Light gray background for even rows */
}

tr:nth-child(odd) {
    background-color: #fff; /* White background for odd rows */
}

audio {
    width: 100%;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
