<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Us - Your Website Name</title>
<link rel="stylesheet" th:href="@{/css/about.css}">
</head>
<body>
	<div class="navbar">
		<a href="home">Home</a> <a href="about">About</a> <a
			href="contact.html">Contact</a>
	</div>
	<main>
		<section class="about">
			<h2>Our Story</h2>
			<p>Welcome to TuneHub Application, where you can discover and enjoy
				a vast collection of songs from various genres. Our platform is
				dedicated to providing you with a seamless music experience, whether
				you're listening to your favorite tracks, discovering new artists,
				or managing your personal playlists.</p>
			<p>At our TuneHub Application, we're passionate about music and strive
				to create a vibrant community of music enthusiasts. Our mission is
				to connect people through music and empower them to explore, share,
				and enjoy the endless possibilities of musical expression.</p>
			<p>Here are some key features of Your Website Name:</p>
			<ul>
				<li class="feature">Explore a vast collection of songs from
					different genres, artists, and albums.</li>
				<li class="feature">Create and manage personalized playlists
					according to your mood, occasion, or preference.</li>
				<li class="feature">Discover new and emerging artists, and
					support independent music creators.</li>
				<li class="feature">Interact with fellow music enthusiasts,
					share your favorite tracks, and discuss music-related topics.</li>
				<li class="feature">Stay updated with the latest music trends,
					news, and events in the music industry.</li>
				<li class="feature">Enjoy a seamless listening experience
					across multiple devices, anytime and anywhere.</li>
			</ul>
		</section>
	</main>
	<section class="team">
		<h2>Our Team</h2>
		<div class="team-member">
			<img src="/images/user3.png" alt="Team Member 1">
			<h3>John Doe</h3>
			<p>Founder & CEO</p>
		</div>
		<div class="team-member">
			<img src="/images/user6.jpg" alt="Team Member 2">
			<h3>Jane Smith</h3>
			<p>Head of Operations</p>
		</div>
		<div class="team-member">
			<img src="/images/user1.png" alt="Team Member 3">
			<h3>Mike Johnson</h3>
			<p>Lead Developer</p>
		</div>
	</section>
	</main>
	<div class="footer">
		<p>&copy; 2024 tunehub. All rights reserved.</p>
	</div>
</body>
</html>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const featureItems = document.querySelectorAll('.feature');
    
    featureItems.forEach(function (item) {
        item.addEventListener('click', function () {
            featureItems.forEach(function (element) {
                element.classList.remove('active');
            });
            this.classList.add('active');
        });
    });
});
</script>

