<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to tunehub application</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
	<div class="navbar">
		<a href="home">Home</a> 
		<a href="about">About</a> 
		<a href="#" onclick="return false;">Contact</a>
	</div>

	<div class="background">
		<div class="content">
			<h1>Welcome to tunehub application</h1>
			<p>tunehub is your gateway to a world of music exploration and
				discovery.</p>
			<p>Unleash your inner music enthusiast by creating personalized
				playlists, exploring new artists, and connecting with fellow music
				lovers.</p>
			<button onclick="location.href='/map-register'"
				class="button-register">Register</button>
			<button onclick="location.href='/map-login'" class="button-login">Login</button>
		</div>
	</div>

	<div class="footer">
		<p>&copy; 2024 tunehub. All rights reserved.</p>
	</div>

</body>
</html>
