<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to tunehub</title>
        <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="navbar">
        <a href="home">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>

    <div class="background">
        <div class="content">
            <h1>Welcome to tunehub</h1>
            <p>tunehub is your gateway to a world of music exploration and discovery.</p>
            <p>Unleash your inner music enthusiast by creating personalized playlists, exploring new artists, and connecting with fellow music lovers.</p>
        </div>
    </div>

    <div class="testimonial-section">
        <h2>What Our Users Say</h2>
        <div class="user-card">
            <img src="/images/user1.png" alt="User 1">
            <p>"I absolutely love tunehub! It's made discovering new music so much easier."</p>
            <p class="author">- John Doe</p>
        </div>
        <div class="user-card">
            <img src="/images/user2.png" alt="User 2">
            <p>"The personalized playlists feature on tunehub is fantastic. I can't get enough!"</p>
            <p class="author">- Jane Smith</p>
        </div>
        <div class="user-card">
            <img src="/images/user3.png" alt="User 3">
            <p>"Thanks to tunehub, I've found so many amazing artists that I wouldn't have discovered otherwise."</p>
            <p class="author">- Mike Johnson</p>
        </div>
         <div class="user-card">
            <img src="/images/user4.png" alt="User 3">
            <p>"I'm constantly impressed by Tunehub's recommendations. It's like the app knows my musical tastes better than I do!"</p>
            <p class="author">- Mike Johnson</p>
        </div>
         <div class="user-card">
            <img src="/images/user5.jpg" alt="User 3">
            <p>"Tunehub has revolutionized how I explore music. It's like having a treasure trove of tunes at my fingertips"</p>
            <p class="author">- Mike Johnson</p>
        </div>
         <div class="user-card">
            <img src="/images/user6.jpg" alt="User 3">
            <p>"Tunehub is more than just a music platform; it's a gateway to endless inspiration and creativity."</p>
            <p class="author">- Mike Johnson</p>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2024 tunehub. All rights reserved.</p>
    </div>
</body>
</html>
