<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Songs</title>
<link rel="stylesheet" th:href="@{/css/viewsong.css}">
</head>
<body>
 <div class="navbar">
        <a href="home">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>
<table border="1">
    <tr>
        <td>Name</td>
        <td>Artist</td>
        <td>Genre</td>
        <td>link</td>
    </tr>
    <tr th:each="songlist : ${songlist}">
        <td th:text="${songlist.name}"></td>
        <td th:text="${songlist.artist}"></td>
        <td th:text="${songlist.genre}"></td>
        <td>
            <audio controls>
                <source th:src="${songlist.link}" type="audio/mpeg">
            </audio>
        </td>
    </tr>
</table>
 <div class="footer">
        <p>&copy; 2024 tunehub. All rights reserved.</p>
    </div>
</body>
</html>
